/* 기본 스타일 초기화 및 배경 설정 */
body {
    margin: 0;
    padding: 0;
    font-family: "Pinyon Script", cursive; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #f8f9fa; 
}

/* 로그인 폼 전체  */
.login-container {
    background-color: #F1F1F1;
    padding: 4rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* 제목 Salus 스타일 */
h1 {
    color: #298FEE; 
    font-family: "Pinyon Script", cursive; 
    font-size: 3rem; 
    margin-top: 0;
    margin-bottom: 2rem;
}

/* 폼 스타일 */
form {
    display: flex;
    flex-direction: column;
}

/* 입력창 스타일 */
.form-input {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6; 
    border-radius: 10px; 
    font-size: 1rem;
    box-sizing: border-box; 
}

.form-input::placeholder {
    color: #ced4da; 
}

/* 회원가입 링크 컨테이너 */
.options {
    text-align: right; 
    margin-bottom: 1.5rem;
    font-family: 'Noto Sans KR', sans-serif
}

.options a {
    color: #495057; 
    text-decoration: none;
    font-size: 0.8rem;
}

.options a:hover {
    text-decoration: underline; /* 마우스 올리면 밑줄 표시 */
}

/* 로그인 버튼 스타일 */
.login-button {
    background-color: #298FEE; 
    color: white; 
    border: none;
    padding: 14px 20px;
    border-radius: 8px; 
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

/* 마우스 올리면 색 바뀜 */
.login-button:hover {
    background-color: #0857AB; 
}