.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 24px;
}

.icons span {
  font-size: 24px;
  margin-left: 15px;
  cursor: pointer;
}

.condition-form h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #000000;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.form-group label {
  width: 100px; 
  font-weight: 500;
  color: #000000;
}

.input-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* 일반 입력 필드 */
.input-group input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: right;
  max-width: 100px;
}

.input-group .unit {
  margin: 10px;
  margin-right: 30px;
  color: #000000;
}

.sleep-time input {
  max-width: 60px; 
}

.radio-group {
  display: flex;
  align-items: center;
}

.toggle-button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 15px;
  margin-right: 23px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.toggle-button .check-icon,
.toggle-button .cross-icon {
    margin-right: 5px;
}

.toggle-button.active {
  background-color: #e8f5e9; 
  border-color: #4caf50; 
  color: #4caf50;
}

.toggle-button.active-disabled {
  background-color: #ffebee; 
  border-color: #f44336;
  color: #f44336;
}

.exercise-time-input {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.exercise-time-input input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: right;
  margin-right: 10px;
  max-width: 60px;
}



.exercise-type-group .exercise-buttons-row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 10px; /* 줄 간격 */
}

.type-button {
  background: #f0f0f0;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s;
}

.type-button.selected {
  background-color: #298fee; 
  color: #fff;
}

.type-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #f0f0f0;
    color: #333;
}


.submit-button {
  display: block;
  width: 500px;
  height: 53px; 
  margin: 50px auto 20px;
  background-color: #298fee;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #3b78e7;
}

